tools/
runtime/
xdg/data/
xdg/state/
xdg/cache/
xdg/theme/

!.gitignore
!*.md
!bin/
!bin/*.sh
!bin/nvim-local
!bin/xdg/
!bin/xdg/init.lua
!bin/xdg/nvim-pack-lock.json
!bin/xdg/colors/
!bin/xdg/colors/*.lua
